<!-- src/app/professors/professors.component.html -->
<h2>Professors</h2>

<!-- PrimeNG Table -->
<p-table [value]="professors">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Department</th>
          <th>Email</th>
          <th>
              <button pButton type="button" label="Add New" routerLink="/add-professor"></button>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-professor>
      <tr>
          <td>{{professor.id}}</td>
          <td>{{professor.name}}</td>
          <td>{{professor.department}}</td>
          <td>{{professor.email}}</td>
          <td>
              <button pButton type="button" label="Edit" (click)="editProfessor(professor)"></button>
              <button pButton type="button" label="Delete" class="p-button-danger" (click)="deleteProfessor(professor.id)"></button>
          </td>
      </tr>
  </ng-template>
</p-table>
