<h2>Students</h2>

<!-- PrimeNG Table -->
<p-table [value]="students">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Branch</th>
          <th>
            <button pButton type="button" label="Add Student" icon="pi pi-plus" (click)="showAddDialog()"></button>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
      <tr>
          <td>{{student.id}}</td>
          <td>{{student.name | titlecase}}</td>
          <td>{{student.age}}</td>
          <td [appHighlightNA]="student.branch ? student.branch : 'N/A'">
            {{ student.branch ? student.branch : 'N/A' }}
          </td>
          
          <td>
              <button pButton type="button" label="Edit" (click)="editStudent(student)"></button>
              <button pButton type="button" label="Delete" class="p-button-danger" (click)="deleteStudent(student.id)"></button>
          </td>
      </tr>
  </ng-template>
</p-table>

<p-dialog header="Student Form" [(visible)]="displayDialog" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}">
    <ng-container *ngIf="selectedStudent">
        <app-student-form [student]="selectedStudent" (onClose)="closeDialog()"></app-student-form>
    </ng-container>
</p-dialog>
